.nav{
list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

}
.nav li{
    display: inline;
  margin: 0 10px;
    
    
}
.nav a{
    color: pink;
  text-decoration: none;
}
.right-links {
    display: flex;
  }